* {
    margin: 0;
    padding: 0;
}

.home{
    width: 100%;
    height: 100vh;
    background: url(../images/img03.png) center no-repeat;
    background-size: 100%;
}

.home>.box{
    width: 500px;
    height: 300px;
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.box>.userbox{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 100px;
}

.userbox>img{
    width: 80px;
    height: 80px;
    margin-right: 20px;
}

.userbox>.text{
    color: #ffffff;
}

.text>h3{
    margin-bottom: 10px;
}