* {
    margin: 0;
    padding: 0;
}

.home{
    width: 100%;
    height: 100vh;
    background: url(../images/img03.png) center no-repeat;
    background-size: 100%;
}

.home>.box{
    width: 700px;
    height: 400px;
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding-top: 50px;
}
